body {
  font-family: "Blinker", sans-serif;
}

.login-pf-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dde6f6;
}

.login-pf-page-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.kc-header-wrapper {
  font-size: 3em;
}

.card-pf {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  transition: box-shadow 0.3s;
}

.card-pf:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login-pf-header {
  text-align: center;
  margin-bottom: 1rem;
}

#kc-page-title {
  font-size: 1.5rem;
  margin-top: 10px;
}

.pf-c-form__label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 15px;
}

.pf-c-form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pf-c-button {
  width: 100%;
  padding: 0.75rem;
  color: white;
  background-color: #2d58a7 !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.1s;
}

.pf-c-button:active {
  transform: scale(0.95);
}

.pf-c-button.pf-m-control {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #2d58a7;
  border-radius: 0 5px 5px 0;
  max-width: 50px;
  height: 36px;
}

.pf-c-button.pf-m-control:active {
  transform: scale(0.95);
}

.pf-c-button:hover {
  background-color: #cadcee;
}

.pf-c-input-group {
  display: flex;
  align-items: center;
}

.pf-c-input-group input {
  flex-grow: 1;
}

.pf-c-input-group button {
  margin-left: -1px;
}

.pf-m-primary.pf-m-block.btn-lg {
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
}

#input-error{
  color: red;
}

.login-pf-header > div {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.login-pf{
  background-color: #dde6f6;
}

.login-pf body{
  background: #dde6f6;
}

@media (max-height: 860px){ 
  .form-group label {
    margin-bottom: 0;
  }
  #kc-content #kc-content-wrapper #kc-register-form .form-group{
    margin-bottom: 10px;
  }
  .login-pf-page .login-pf-page-header{
    margin-bottom: 20px;
  }
  .card-pf .login-pf-header{
    margin-bottom: 0;
  }
  #kc-page-title{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
}